{% load static%}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "css/forget.css" %}"/>
    <title>パスワード変更</title>
  </head>
  <h1>パスワード変更</h1>
  <input type="checkbox" id="menu-toggle" class="menu-checkbox">
<label for="menu-toggle" class="menu-button"></label>
<input type="checkbox" id="menu-toggle" class="menu-checkbox">
<label for="menu-toggle" class="menu-button"><span></span></label>
<div class="drawer-menu">
  <ul>
    <li><a href="{% url 'webtestapp:code' %}">コーディネート確認</a></li>
    <li><a href="{% url 'webtestapp:okiniiri' %}">お気に入りコーディネート</a></li>
    <li><a href="{% url 'webtestapp:sakujo' %}">削除したコーディネート</a></li> 
  </ul>
  <a href="{% url 'webtestapp:help' %}"><img src="{% static "images/ガイド.png" %}"  alt="ガイドボタン" style="widh: 150px;" height="150"></a>
</div>
<label for="menu-toggle" class="menu-background"></label>
  <form action="#" method="post">
  <body>
    <div class="back">
        <a onclick="history.back()"><img src="{% static "images/戻るボタン.png" %}" alt="戻るボタン" style="widh: 80px;" height="80"></a>
        </div>
      <p>登録されているアカウントのメールアドレスを入力してください</p><br>
      <div class="maillad">
      <p>
        メールアドレス<br>
       <input type="email" id=mailladores required name="mail" placeholder="メールアドレスを入力してください" pattern=".+@.+\..+" title="メールアドレスは、example@ayuka.com のような形式で記入してください。">
      </p>
    </div>
      <br>
      <p><input id="send" type="submit" value="送信"></p>
      <br>
      <div class="message">
      <p>
          送信完了後こちらからパスワードに関するメールを送信します。<br>
          入力されたアドレス宛にメールが届いているか確認の上、
         メールの説明に沿って進めてください。<br>
         もしメールが届いていない場合は<br>入力されたメールアドレスが正しく入力されているか確認した上でもう一度入力するか<br>
         <a href="{% url 'webtestapp:otoi' %}">こちら</a>にてお問い合わせをしてくださいをしてください。
      </p>
    </div>
    <div id="menu-box" class="menu">
      <ul>
        <li><a href="{% url 'webtestapp:calendar' %}">カレンダー</a></li>
        <li><a href="{% url 'webtestapp:closet' %}">クローゼット</a></li>
        <li> <a href="{% url 'webtestapp:index' %}">ホーム</a></li>
        <li><a href="{% url 'webtestapp:timeline' %}">タイムライン</a></li>
        <li><a href="{% url 'webtestapp:settei' %}">設定</a></li>
      </ul>
    </div>
  </body>
</form>
</html>