* { margin: 0px;
    padding: 0px;
}

h1{ width: 100%;
    top: 0; 
    left: 0;
    padding: 20px 50px;
    box-sizing: border-box;
    position: fixed;
    text-align: center;
    color: #faf4f4;
    background-color:rgb(73, 73, 252);
    
}

body {
    padding: 90px 0 70px; /* ヘッダーの後ろに要素が隠れないようにするため */
  }

.menu-checkbox {
    display: none;
  }
  
  /* メニューボタンの装飾 */
  .menu-button {
    display: block;
    position: fixed;
    top: 30px;
    left: 20px;
    z-index: 200;
    height: 30px;
    width: 40px;
    cursor: pointer;
  }
  .menu-button::before,
  .menu-button::after {
    content: '';
    transition: .3s;
  }
  .menu-button::before,
  .menu-button::after,
  .menu-button span {
    display: block;
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    margin-top: -1px;
    background-color: #f8f6f6;
  }
  .menu-button::before {
    top: 0;
  }
  .menu-button::after {
    bottom: 0;
  }
  .menu-button span {
    top: 50%;
  }
  
  /* メニューボタンのアニメーション */
  .menu-checkbox:checked ~ .menu-button::before {
    top: 50%;
    transform: rotate(45deg);
  }
  .menu-checkbox:checked ~ .menu-button::after {
    top: 50%;
    transform: rotate(-45deg);
  }
  .menu-checkbox:checked ~ .menu-button span {
    display: none;
  }
  
  /* ドロワーメニューの装飾 */
  .drawer-menu {
    position: fixed;
    top: 88;
    left: -1;
    z-index: 200;
    height: 100%;
    width: 222px;
    transform: translateX(-100%);
    transition: .5s;
    background-color: rgb(111, 75, 240);
    text-align: center;
    z-index: 201;
  }
  .drawer-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .drawer-menu li {
    border-bottom: 1px solid rgb(2, 2, 2);
  }
  .drawer-menu a {
    display: block;
    padding: 15px;
    color: #fcf7f7;
    text-decoration: none;
  }
  
  /* ドロワーメニューの開閉 */
  .menu-checkbox:checked ~ .drawer-menu {
    transform: translateX(0);
  }
  
  /* ドロワーメニューの背景 */
  .menu-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: rgba(74, 71, 236, 0.5);
    cursor: pointer;
  }
  .menu-checkbox:checked ~ .menu-background {
    display: block;
  }

  #menu-box{
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 0;
    z-index: 99;
  }
  
  /*メニューを横並びにする*/
  #menu-box ul{
    display: flex;
    list-style: none;
    padding:0;
    margin:0;
    width:100%;
  }
  
  #menu-box li{
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:0;
    margin:0;
    font-size: 14px;
    border-right: 1px solid black;
    background-color:rgb(73, 73, 252);
  }
  
  #menu-box li a{
    color: #fff;
    display:block;
    width: 100%;
    padding:25px 0;
    text-decoration: none;
    text-align: center;
  }

  .back{
    position: relative;
    z-index: 200;
  }

  p{text-align: center;
    font-size: 20px;
    position: relative;
    top: -50px;
  }


  #mailladores{width:700px;
    height: 50px;
    font-size: 20px;
    border-style:solid;
    border-color:black;
    background-color: rgb(111, 229, 250);
    border-width:2px;
}

#send{
    width:200px;
    height: 50px;
    font-size: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    background: rgb(111, 229, 250);
    cursor: pointer;
    position: relative;
    top: 60;
    left: 250 ;
}

#send:hover{
    background-color:rgb(12, 185, 216);
  }


.message{
    position: relative;
    top: 150;
}

.maillad{
    position: relative;
    top: 30;
}